# Build output
/x64/
/x86/
/Debug/
/Release/
/[Aa][Rr][Mm]/
/[Bb][Ii][Nn]/
/Oo][Bb][Jj]/

# IntelliSense / Cache
*.VC.db
*.VC.opendb
*.opendb
*.sdf
*.ipch
*.db-shm
*.db-wal

# Compiler intermediate files
*.iobj
*.ipdb
*.ilk
*.tlog

# Crash dumps
*.dmp

# CMake files (ako ikad budeš koristio CMake)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OpenGL / Graphics temporary assets
*.dds
*.tga
*.obj
*.mtl

# Local debugging files
*.pdb
*.pch
*.rsp

# Backup and autosave
*.bak
*.tmp
*.old
*.orig
